<style>
    body {
        background-color: #0a498a;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div id='welcome' class="center">
  <a href="http://boozallen.com">
    <%= image_tag 'logo.png' %>
  </a>
</div>