<h1>Settings</h1>
<h3><%= link_to 'New Setting', new_setting_path %></h3>
<% @settings.each do |setting| %>
    <div>
      <%= link_to setting.name, setting_path(setting.id) %>
      -
      <%= link_to 'Edit', edit_setting_path(setting.id) %>
      <%= link_to 'Delete', setting_path(setting.id), method: :delete, 'data-confirm' => 'Are you sure?' %>
    </div>
<% end %>
